{% macro displaySources(sources) %}

{% for source in sources %}
<h4 class='name'>{{source.name}}</h4>
<p class='description'>{{source.description}}</p>
<button class="seemore"><a href="/articles/{{source.id}}">Check {{source.name}} Articles</a></button>
<br><br>
{% endfor %}

{% endmacro %}

{%macro displayArticles(articles)%}
{% for article in articles %}
<img src="{{article.image}}" alt="image" width="300px" height="200px">
<h4 class='name'>{{article.title}}</h4>
<p class='description'>{{article.description}}</p>
<p>{{article.date}}</p>

<button class="seemore"><a href={{article.url}}>Read Article</a></button>
<br>
<hr><br>
{% endfor %}
{% endmacro %}